<p>products works!</p>
<div>
    <ul>
        <li>

        <a [routerLink]="['/products']" [queryParams]="{'category':'men'}" routerLinkActive="router-link-active" >Men</a>
        </li>
        <li>
            <a [routerLink]="['/products']" [queryParams]="{'category':'women'}" routerLinkActive="router-link-active" >Women</a>
        </li>
        <li>
            <a [routerLink]="['/products']" [queryParams]="{'category':'Mobiles'}" routerLinkActive="router-link-active" >Mobiles</a>
        </li>
    </ul>
</div>