<p>formcontrol works!</p>
<form ngForm #nf="ngForm" (ngSubmit)="submit2(nf)">
    <!--<div ngModelGroup #nggr="ngModelGroup">
username:<input type="text" name="uname" placeholder="Enter ur name" ngModel #ng="ngModel" required>
<p *ngIf="ng.touched&&ng.errors?.['required']">Username is required</p>
Password : <input type="password" name="pwd" placeholder="Enter password" ngModel #ng1="ngModel" minlength="4">
<button (click)="submit1(ng,ng1,nggr)">Submit</button>
    </div>-->
    <input type="text" ngModel #nggr1="ngModel" name="uname">
    <input type="password" ngModel #nggr="ngModel" name="pwd">
    <button >Submit</button>
</form>











